############################################################################################################
#                                                                                                  #########
# FylingBear Reborn 2 Klipper Config                                                               #########
# See https://www.klipper3d.org/Config_Reference.html for a description of config settings.        #########
#                                                                                                  #########
############################################_EN_############################################################
#
# Creating Klipper Firmware:
# Run "make menuconfig" to use this configuration, the firmware must be compiled for
#   Micro-controller Architecture (STMicroelectronics STM32)
#   Processor model (STM32F407)
#   Bootloader offset (48KiB bootloader (MKS Robin Nano V3))
# For USB Connection use
#   Communication interface (USB (on PA11/PA12))
# For UART Connection use
#   Communication interface (Serial (on USART1 PA10/PA9)) Wifi Modul
#
# Compile Firmware with "make", move the generated file into your klipper_config folder for download.
# mv ~/klipper/out/klipper.bin ~/klipper_config/Robin_nano_6.bin
# Download and put the Robin_nano_6.bin file into your SD card, 
# Power down the printer and insert the SD card, now power on the printer, the Upadte process is stating
#
############################################################################################################

#####################################################################
#  Include Macros
[include macros/*.cfg]
#####################################################################

#####################################################################
#  MCU Settings
#####################################################################

[mcu]
# ls /dev/serial/by-id/*
serial: 
restart_method: command

#####################################################################
#  Printer Settings
#####################################################################

[printer]
kinematics: corexy
max_velocity: 800
square_corner_velocity: 5.0
max_accel: 12000
max_accel_to_decel: 12000
max_z_velocity: 25
max_z_accel: 100

#####################################################################
#  X Stepper Settings
#####################################################################
[stepper_x] 
step_pin: PE3  
dir_pin: PE2 
enable_pin: !PE4 
microsteps: 32
rotation_distance: 40
endstop_pin: !PA15 
position_endstop: 0
position_max: 325
homing_speed: 50

#####################################################################
#  Y Stepper Settings
#####################################################################
[stepper_y]
step_pin: PE0 
dir_pin: PB9 
enable_pin: !PE4 
microsteps: 32
rotation_distance: 40
endstop_pin: !PD2 
position_endstop: 0
position_max: 325
homing_speed: 50

#####################################################################
#  Z, Z1 Stepper Settings
#####################################################################
[stepper_z]
step_pin: PB5
dir_pin: PB4 
enable_pin: !PB8 
microsteps: 32
rotation_distance: 8
endstop_pin: !PC8
position_endstop: 0
homing_speed: 10
second_homing_speed: 2
position_min: -0.5
position_max: 350

[stepper_z1]
step_pin: PD15
dir_pin: PA1
enable_pin: !PA3
microsteps: 32
rotation_distance: 8
endstop_pin: !PC4

#####################################################################
#  Extruder Stepper Settings
#####################################################################
[extruder]
step_pin: PD6
dir_pin: PD3
enable_pin: !PB3
microsteps: 32
rotation_distance: 15.632 ; https://www.klipper3d.org/Rotation_Distance.html
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PE5 
sensor_type: PT1000 
sensor_pin: PC1
pullup_resistor: 4700
control: pid
pid_Kp = 16.767
pid_Ki = 0.735
pid_Kd = 95.572
min_temp: 0
max_temp: 350

#####################################################################
#  Heater Bed Settings
#####################################################################
[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
control: pid
pid_Kp: 325.10
pid_Ki: 63.35
pid_Kd: 417.10
min_temp: 0
max_temp: 130

#####################################################################
#  Heater Fan
#####################################################################
[heater_fan heater_fan]
pin: PC14
max_power: 1.0
shutdown_speed: 1.0
heater: extruder
heater_temp: 50.0 # Shutdown FAN at 50°C
fan_speed: 1.0

#####################################################################
#  Fan 2x4010 + fan motherboard
#####################################################################
[fan]
pin: PB1
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0

#####################################################################
#  Calibration
#####################################################################
[bed_screws] 
screw1: 32,52
screw1_name: front left screw
screw2: 295,50
screw2_name: front right screw
screw3: 295,275
screw3_name: back right screw
screw4: 32,275
screw4_name: back left screw
speed: 150

#####################################################################
#  Raspberry Pi Temp Sensor Settings
#####################################################################

[temperature_sensor rasberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#####################################################################
#  Input Shaping Settings https://www.klipper3d.org/Resonance_Compensation.html
#####################################################################

#[input_shaper] 
#shaper_type_x = ei
#shaper_freq_x = 45 
#shaper_type_y = ei
#shaper_freq_y = 45

#####################################################################
# Other Settings
#####################################################################

[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]

[display_status]
